
                    <!-- BEGIN Page Content -->
                    <!-- the #js-page-content id is needed for some plugins to initialize -->
                    <div class="btn-group">
                        <button  class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lang
                        </button>
                        <ul class="dropdown-menu">
                            <li (click)="changeLang($event)" class="dropdown-item">en</li>
                            <li (click)="changeLang($event)" class="dropdown-item">ar</li>
                            <li (click)="changeLang($event)" class="dropdown-item">fr</li>
                        </ul>
                      </div>



                    <main id="js-page-content" role="main" class="page-content">
                      <!-- Page heading removed for composed layout -->
                      <div class="d-flex flex-grow-1 p-0">
                          <!-- left slider -->
                        
                          





                          


                          <app-side-bar></app-side-bar>








                          <div class="slide-backdrop" data-action="toggle" data-class="slide-on-mobile-left-show" data-target="#js-inbox-menu"></div> <!-- end left slider -->
                          <!-- inbox container -->
                          <div class="d-flex flex-column flex-grow-1 bg-white">
                              


                            
                              <!-- THE ROUTER OUTLET WILL GO HERE, WHICH WILL CHOSE WHAT COMPONENT TO INJECT -->
                              <router-outlet></router-outlet>





                          </div>
                          <!-- end inbox container -->
                          <!-- compose message -->
                          <div id="panel-compose" class="panel w-100 position-fixed pos-bottom pos-right mb-0 z-index-cloud mr-lg-4 shadow-3 border-bottom-left-radius-0 border-bottom-right-radius-0 expand-full-height-on-mobile expand-full-width-on-mobile shadow" style="max-width:40rem; height:35rem; display: none;">
                              <div class="position-relative h-100 w-100 d-flex flex-column">
                                  <!-- desktop view -->
                                  <div class="panel-hdr bg-fusion-600 height-4 d-none d-sm-none d-lg-flex">
                                      <h4 class="flex-1 fs-lg color-white mb-0 pl-3">
                                          New Message
                                      </h4>
                                      <div class="panel-toolbar pr-2">
                                          <a href="javascript:void(0);" class="btn btn-icon btn-icon-light fs-xl mr-1" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen" data-placement="bottom">
                                              <i class="fal fa-expand-alt"></i>
                                          </a>
                                          <a href="javascript:void(0);" class="btn btn-icon btn-icon-light fs-xl" data-action="toggle" data-class="d-flex" data-target="#panel-compose" data-toggle="tooltip" data-original-title="Save & Close" data-placement="bottom">
                                              <i class="fal fa-times"></i>
                                          </a>
                                      </div>
                                  </div>
                                  <!-- end desktop view -->
                                  <!-- mobile view -->
                                  <div class="d-flex d-lg-none align-items-center px-3 py-3 bg-faded  border-faded border-top-0 border-left-0 border-right-0 flex-shrink-0">
                                      <!-- button for mobile -->
                                      <!-- end button for mobile -->
                                      <h3 class="subheader-title">
                                          New message
                                      </h3>
                                      <div class="ml-auto">
                                          <button type="button" class="btn btn-outline-danger" data-action="toggle" data-class="d-flex" data-target="#panel-compose">Cancel</button>
                                      </div>
                                  </div>
                                  <!-- end mobile view -->
                                  <div class="panel-container show rounded-0 flex-1 d-flex flex-column">
                                      <div class="px-3">
                                          <input id="message-to" type="text" placeholder="Recipients" class="form-control border-top-0 border-left-0 border-right-0 px-0 rounded-0 fs-md mt-2 pr-5" tabindex="2">
                                          <a href="javascript:void(0)" class="position-absolute pos-right pos-top mt-3 mr-4" data-action="toggle" data-class="d-block" data-target="#message-to-cc" data-focus="message-to-cc" data-toggle="tooltip" data-original-title="Add Cc recipients" data-placement="bottom">Cc</a>
                                          <input id="message-to-cc" type="text" placeholder="Cc" class="form-control border-top-0 border-left-0 border-right-0 px-0 rounded-0 fs-md mt-2 d-none" tabindex="3">
                                          <input type="text" placeholder="Subject" class="form-control border-top-0 border-left-0 border-right-0 px-0 rounded-0 fs-md mt-2" tabindex="4">
                                      </div>
                                      <div class="flex-1" style="overflow-y: auto;">
                                          <div id='fake_textarea' class="form-control rounded-0 w-100 h-100 border-0 py-3" contenteditable tabindex="5">
                                              <br>
                                              <br>
                                              <div class="d-flex d-column align-items-start mb-3">
                                                  <img src="img/logo.png" alt="SmartAdmin WebApp" class="mr-3 mt-1">
                                                  <div class="border-left pl-3">
                                                      <span class="fw-500 fs-lg d-block l-h-n">Dr. Codex Lantern</span>
                                                      <span class="fw-400 fs-nano d-block l-h-n mb-1">Orthopedic Surgeon</span>
                                                      <a href="#" class="mr-1 fs-xl" style="color:#3b5998"><i class="fab fa-facebook-square"></i></a>
                                                      <a href="#" class="mr-1 fs-xl" style="color:#38A1F3"><i class="fab fa-twitter-square"></i></a>
                                                      <a href="#" class="mr-1 fs-xl" style="color:#0077B5"><i class="fab fa-linkedin"></i></a>
                                                      <a href="#" class="mr-1 fs-xl" style="color:#ff0000"><i class="fab fa-youtube-square"></i></a>
                                                  </div>
                                              </div>
                                              <div class="text-muted fs-nano">
                                                  ​PRIVATE AND CONFIDENTIAL. This e-mail, its contents and attachments are private and confidential and is intended for the recipient only. Any disclosure, copying or unauthorized use of such information is prohibited. If you receive this message in error, please notify us immediately and delete the original and any copies and attachments.
                                              </div>
                                          </div>
                                      </div>
                                      <div class="px-3 py-4 d-flex flex-row align-items-center flex-wrap flex-shrink-0">
                                          <a href="javascript:void(0);" class="btn btn-info mr-3">Send</a>
                                          <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Formatting options" data-placement="top">
                                              <i class="fas fa-font color-fusion-300"></i>
                                          </a>
                                          <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Attach files" data-placement="top">
                                              <i class="fas fa-paperclip color-fusion-300"></i>
                                          </a>
                                          <a href="javascript:void(0);" class="btn btn-icon fs-xl mr-1" data-toggle="tooltip" data-original-title="Insert photo" data-placement="top">
                                              <i class="fas fa-camera color-fusion-300"></i>
                                          </a>
                                          <div class="ml-auto">
                                              <a href="javascript:void(0);" class="btn btn-icon fs-xl" data-toggle="tooltip" data-original-title="Disregard draft" data-placement="top">
                                                  <i class="fas fa-trash color-fusion-300"></i>
                                              </a>
                                              <a href="javascript:void(0);" class="btn btn-icon fs-xl width-1" data-toggle="tooltip" data-original-title="More options" data-placement="top">
                                                  <i class="fas fa-ellipsis-v-alt color-fusion-300"></i>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div> <!-- end compose message -->
                      </div>
                  </main>
